2. cd into your exercises folder for this module and run echo env.py >> .gitignore

3. Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

4. Use your function to obtain a connection to the employees database.

In [54]:
import pandas as pd
import numpy as np
from sqlalchemy import text, create_engine
from pydataset import data
from env import get_connection

In [2]:
url = get_connection('employees')

In [3]:
engine = create_engine(url)

In [4]:
query = '''
        SELECT *
        FROM employees
        '''

In [5]:
text_query= text(query)

In [6]:
df = pd.read_sql(text_query, engine.connect())
df.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

5. Once you have successfully run a query: a. Intentionally make a typo in the database url. What kind of error message do you see?

In [5]:
engine = create_engine(url)

ArgumentError: Could not parse rfc1738 URL from string 'mysql+pymysql:/somerville_2276:rqmB31SmC7oijiVaFIO1blDaJNWuUNE2@data.codeup.com/employees'

 b. Intentionally make an error in your SQL query. What does the error message look like?

In [7]:
df = pd.read_sql(text_query, engine.connect())
df.head()

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'employees.emloyees' doesn't exist")
[SQL:
        SELECT *
        FROM emloyees
        ]
(Background on this error at: https://sqlalche.me/e/14/f405)

6. Read the employees and titles tables into two separate DataFrames.

In [7]:
query2 = '''
        SELECT * 
        FROM titles
        '''

In [8]:
text_query2 = text(query2)

In [9]:
df2 = pd.read_sql(text_query2, engine.connect())
df2.head()

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01
2   10003  Senior Engineer  1995-12-03  9999-01-01
3   10004         Engineer  1986-12-01  1995-12-01
4   10004  Senior Engineer  1995-12-01  9999-01-01

In [10]:
df = pd.read_sql(text_query, engine.connect())
df.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

7. How many rows and columns do you have in each DataFrame? Is that what you expected?

In [17]:
df.shape, df2.shape

((300024, 6), (443308, 4))

8. Display the summary statistics for each DataFrame.

In [16]:
df.describe(), df2.describe()

(              emp_no
 count  300024.000000
 mean   253321.763392
 std    161828.235540
 min     10001.000000
 25%     85006.750000
 50%    249987.500000
 75%    424993.250000
 max    499999.000000,
               emp_no
 count  443308.000000
 mean   253075.034430
 std    161853.292613
 min     10001.000000
 25%     84855.750000
 50%    249847.500000
 75%    424891.250000
 max    499999.000000)

9. How many unique titles are in the titles DataFrame?

In [168]:
len(df2.title.unique())

7

10. What is the oldest date in the to_date column?

In [24]:
df2.to_date.min()

datetime.date(1985, 3, 1)

11. What is the most recent date in the to_date column?

In [28]:
df2.to_date.max()

datetime.date(9999, 1, 1)

Exercises II

1. Copy the users and roles DataFrames from the examples above.

In [29]:
users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

   id   name  role_id
0   1    bob      1.0
1   2    joe      2.0
2   3  sally      3.0
3   4   adam      3.0
4   5   jane      NaN
5   6   mike      NaN

In [30]:
roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

   id       name
0   1      admin
1   2     author
2   3   reviewer
3   4  commenter

2. What is the result of using a right join on the DataFrames?

In [40]:
users

   id   name  role_id
0   1    bob      1.0
1   2    joe      2.0
2   3  sally      3.0
3   4   adam      3.0
4   5   jane      NaN
5   6   mike      NaN

In [41]:
users.merge(roles, how='right', left_on = 'role_id', right_on = 'id')

   id_x name_x  role_id  id_y     name_y
0   1.0    bob      1.0     1      admin
1   2.0    joe      2.0     2     author
2   3.0  sally      3.0     3   reviewer
3   4.0   adam      3.0     3   reviewer
4   NaN    NaN      NaN     4  commenter

3. What is the result of using an outer join on the DataFrames?

In [43]:
users.merge(roles, how='outer', left_on = 'role_id', right_on = 'id')

   id_x name_x  role_id  id_y     name_y
0   1.0    bob      1.0   1.0      admin
1   2.0    joe      2.0   2.0     author
2   3.0  sally      3.0   3.0   reviewer
3   4.0   adam      3.0   3.0   reviewer
4   5.0   jane      NaN   NaN        NaN
5   6.0   mike      NaN   NaN        NaN
6   NaN    NaN      NaN   4.0  commenter

4. What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [47]:
d = users.drop(columns=['role_id'])
d

   id   name
0   1    bob
1   2    joe
2   3  sally
3   4   adam
4   5   jane
5   6   mike

In [49]:
d2 = roles.drop(columns=['id'])
d2

        name
0      admin
1     author
2   reviewer
3  commenter

In [52]:
pd.concat([users,roles])

   id       name  role_id
0   1        bob      1.0
1   2        joe      2.0
2   3      sally      3.0
3   4       adam      3.0
4   5       jane      NaN
5   6       mike      NaN
0   1      admin      NaN
1   2     author      NaN
2   3   reviewer      NaN
3   4  commenter      NaN

In [51]:
d.merge(d2, how='outer', left_on = 'id', right_on = 'name')

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

5. Load the mpg dataset from PyDataset.

In [56]:
mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

6. Output and read the documentation for the mpg dataset.

In [57]:
data('mpg', show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

7. How many rows and columns are in the dataset?

In [59]:
mpg.shape

(234, 11)

8. Check out your column names and perform any cleanup you may want on them.

In [60]:
mpg.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')

In [61]:
mpg = mpg.rename(columns={'hwy': 'highway', 'cty': 'city'})

In [62]:
mpg.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'city',
       'highway', 'fl', 'class'],
      dtype='object')

9. Display the summary statistics for the dataset.

In [64]:
mpg.describe().T

         count         mean       std     min     25%     50%     75%     max
displ    234.0     3.471795  1.291959     1.6     2.4     3.3     4.6     7.0
year     234.0  2003.500000  4.509646  1999.0  1999.0  2003.5  2008.0  2008.0
cyl      234.0     5.888889  1.611534     4.0     4.0     6.0     8.0     8.0
city     234.0    16.858974  4.255946     9.0    14.0    17.0    19.0    35.0
highway  234.0    23.440171  5.954643    12.0    18.0    24.0    27.0    44.0

10. How many different manufacturers are there?

In [171]:
mpg.manufacturer.nunique()

15

11. How many different models are there?

In [172]:
mpg.model.nunique()

38

12. Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

In [83]:
mpg = mpg.assign(mileage_difference = mpg.highway - mpg.city)
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10

13. Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

In [84]:
mpg = mpg.assign(average_mileage = (mpg.city + mpg.highway) / 2)
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0

14. Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

In [91]:
mpg.trans.str.startswith('a')

1       True
2      False
3      False
4       True
5       True
       ...
230     True
231    False
232     True
233    False
234     True
Name: trans, Length: 234, dtype: bool

In [94]:
mpg = mpg.assign(is_automatic = mpg.trans.str.startswith('a'))
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5,True
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0,False
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0,True
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0,False
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5,True

15. Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

In [110]:
mpg.sort_values(by = ['manufacturer', 'average_mileage']).tail(1)

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage,is_automatic
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,9,39.5,False

In [101]:
pd.crosstab(mpg.manufacturer, mpg.average_mileage).tail(1)

average_mileage,10.5,12.5,13.0,13.5,14.0,14.5,15.0,15.5,16.0,16.5,...,27.0,27.5,28.0,28.5,30.0,30.5,32.5,35.0,38.5,39.5
manufacturer,,,,,,,,,,,,,,,,,,,,,
volkswagen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1

In [133]:
mpg.manufacturer[mpg.average_mileage == mpg.average_mileage.max()]

222    volkswagen
Name: manufacturer, dtype: object

16. Do automatic or manual cars have better miles per gallon?

In [117]:
pd.crosstab(mpg.trans, mpg.average_mileage)

average_mileage,10.5,12.5,13.0,13.5,14.0,14.5,15.0,15.5,16.0,16.5,...,27.0,27.5,28.0,28.5,30.0,30.5,32.5,35.0,38.5,39.5
trans,,,,,,,,,,,,,,,,,,,,,
auto(av),0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
auto(l3),0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
auto(l4),0,1,10,2,4,2,7,4,1,1,...,0,0,2,1,0,1,0,1,0,0
auto(l5),4,1,0,0,0,0,5,6,2,3,...,0,0,0,0,1,1,0,0,0,0
auto(l6),0,0,0,0,0,0,2,0,2,0,...,0,0,0,0,0,0,0,0,0,0
auto(s4),0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
auto(s5),0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
auto(s6),0,0,0,0,0,0,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
manual(m5),0,0,0,1,1,1,0,2,3,0,...,0,0,0,1,1,2,1,0,1,1
manual(m6),1,0,0,0,2,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0

In [125]:
mpg.sort_values(by = ['average_mileage'])

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage,is_automatic
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5,True
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5,True
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,3,10.5,False
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5,True
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact,5,30.5,False
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,9,32.5,False
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12,35.0,True
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11,38.5,False
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,9,39.5,False

In [132]:
mpg.trans[mpg.average_mileage == mpg.average_mileage.max()]

222    manual(m5)
Name: trans, dtype: object

1. Use your get_db_url function to help you explore the data from the chipotle database.

In [151]:
url2 = get_connection('chipotle')

In [152]:
engine2 = create_engine(url2)

In [153]:
query3 = '''
        SELECT *
        FROM orders
        '''

In [154]:
text_query3= text(query3)

In [155]:
c = pd.read_sql(text_query3, engine2.connect())
c.head()

,id,order_id,quantity,item_name,choice_description,item_price
0,1,1,1,Chips and Fresh Tomato Salsa,nan,$2.39
1,2,1,1,Izze,[Clementine],$3.39
2,3,1,1,Nantucket Nectar,[Apple],$3.39
3,4,1,1,Chips and Tomatillo-Green Chili Salsa,nan,$2.39
4,5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",$16.98

2. What is the total price for each order?

In [157]:
c.item_price

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

3. What are the most popular 3 items?

In [162]:
c.item_name.value_counts().head(3)

Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Name: item_name, dtype: int64

4. Which item has produced the most revenue?

In [163]:
c.item_name.value_counts() == c.item_name.value_counts().max()

Chicken Bowl                              True
Chicken Burrito                          False
Chips and Guacamole                      False
Steak Burrito                            False
Canned Soft Drink                        False
Steak Bowl                               False
Chips                                    False
Bottled Water                            False
Chicken Soft Tacos                       False
Chips and Fresh Tomato Salsa             False
Chicken Salad Bowl                       False
Canned Soda                              False
Side of Chips                            False
Veggie Burrito                           False
Barbacoa Burrito                         False
Veggie Bowl                              False
Carnitas Bowl                            False
Barbacoa Bowl                            False
Carnitas Burrito                         False
Steak Soft Tacos                         False
6 Pack Soft Drink                        False
Chips and Tomatillo Red Chili Salsa      False
Chicken Crispy Tacos                     False
Chips and Tomatillo Green Chili Salsa    False
Carnitas Soft Tacos                      False
Steak Crispy Tacos                       False
Chips and Tomatillo-Green Chili Salsa    False
Steak Salad Bowl                         False
Nantucket Nectar                         False
Barbacoa Soft Tacos                      False
Chips and Roasted Chili Corn Salsa       False
Izze                                     False
Chips and Tomatillo-Red Chili Salsa      False
Veggie Salad Bowl                        False
Chips and Roasted Chili-Corn Salsa       False
Barbacoa Crispy Tacos                    False
Barbacoa Salad Bowl                      False
Chicken Salad                            False
Veggie Soft Tacos                        False
Carnitas Crispy Tacos                    False
Veggie Salad                             False
Carnitas Salad Bowl                      False
Burrito                                  False
Steak Salad                              False
Crispy Tacos                             False
Salad                                    False
Bowl                                     False
Chips and Mild Fresh Tomato Salsa        False
Veggie Crispy Tacos                      False
Carnitas Salad                           False
Name: item_name, dtype: bool

In [164]:
c.item_price.value_counts()

$8.75      730
$11.25     521
$9.25      398
$4.45      349
$8.49      311
$11.75     284
$1.25      264
$8.99      246
$2.15      192
$2.95      174
$1.50      117
$1.09      106
$2.39      100
$1.69       99
$10.98      99
$3.99       98
$6.49       53
$11.48      51
$3.39       45
$17.50      40
$2.50       27
$11.89      26
$2.18       22
$8.90       20
$8.69       19
$16.98      19
$9.39       17
$4.30       17
$8.19       14
$22.50      13
$18.50      12
$7.40       11
$21.96      10
$11.08      10
$3.00       10
$5.90        8
$3.75        7
$17.98       7
$23.50       6
$3.89        6
$10.58       5
$4.50        4
$4.78        3
$5.00        3
$8.50        3
$26.25       3
$2.29        3
$3.27        2
$22.16       2
$23.78       2
$7.17        2
$4.00        2
$6.78        2
$6.00        2
$27.75       2
$35.00       2
$17.80       1
$32.94       1
$44.25       1
$15.00       1
$22.20       1
$13.52       1
$16.38       1
$1.99        1
$33.75       1
$10.50       1
$7.98        1
$35.25       1
$12.98       1
$26.07       1
$22.96       1
$5.07        1
$6.45        1
$13.35       1
$7.50        1
$4.36        1
$11.80       1
$11.49       1
Name: item_price, dtype: int64

In [166]:
c.item_name.unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [167]:
pd.crosstab(c.item_name, c.item_price)

item_price,$1.09,$1.25,$1.50,$1.69,$1.99,$10.50,$10.58,$10.98,$11.08,$11.25,...,$7.98,$8.19,$8.49,$8.50,$8.69,$8.75,$8.90,$8.99,$9.25,$9.39
item_name,,,,,,,,,,,,,,,,,,,,,
6 Pack Soft Drink,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Barbacoa Bowl,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3,0,0,8,28,0
Barbacoa Burrito,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,2,0,0,19,46,0
Barbacoa Crispy Tacos,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,4,0
Barbacoa Salad Bowl,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
Barbacoa Soft Tacos,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,15,0
Bottled Water,22,0,117,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bowl,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Burrito,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Canned Soda,84,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Canned Soft Drink,0,264,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Carnitas Bowl,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,14,22,0
Carnitas Burrito,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,2,0,0,9,28,0
Carnitas Crispy Tacos,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,0
Carnitas Salad,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
Carnitas Salad Bowl,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
Carnitas Soft Tacos,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6,31,0
Chicken Bowl,0,0,0,0,0,0,1,42,0,228,...,0,3,104,2,0,313,0,0,0,0
Chicken Burrito,0,0,0,0,0,0,4,43,0,131,...,0,10,103,0,0,230,0,0,0,0
Chicken Crispy Tacos,0,0,0,0,0,0,0,1,0,14,...,0,0,8,0,0,21,0,0,0,0
Chicken Salad,0,0,0,0,0,0,0,2,0,0,...,0,1,6,0,0,0,0,0,0,0
Chicken Salad Bowl,0,0,0,0,0,0,0,0,0,41,...,0,0,0,0,0,56,0,0,0,0
Chicken Soft Tacos,0,0,0,0,0,0,0,3,0,22,...,0,0,27,0,0,58,0,0,0,0
Chips,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Chips and Fresh Tomato Salsa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Chips and Guacamole,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,20,0,0,0
Chips and Mild Fresh Tomato Salsa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Chips and Roasted Chili Corn Salsa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Chips and Roasted Chili-Corn Salsa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Chips and Tomatillo Green Chili Salsa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Chips and Tomatillo Red Chili Salsa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Chips and Tomatillo-Green Chili Salsa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Chips and Tomatillo-Red Chili Salsa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Crispy Tacos,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Izze,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Nantucket Nectar,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Salad,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Side of Chips,0,0,0,99,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Steak Bowl,0,0,0,0,0,0,0,0,2,0,...,0,0,0,0,2,0,0,45,69,0
Steak Burrito,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,8,0,0,113,108,0
Steak Crispy Tacos,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,8,14,0
Steak Salad,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,3,0,0
Steak Salad Bowl,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
Steak Soft Tacos,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,14,31,0
Veggie Bowl,0,0,0,0,0,0,0,4,0,41,...,0,0,14,0,0,24,0,0,0,0
Veggie Burrito,0,0,0,0,0,0,0,4,0,32,...,0,0,40,0,0,18,0,0,0,0
Veggie Crispy Tacos,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Veggie Salad,0,0,0,0,0,0,0,0,0,0,...,0,0,6,0,0,0,0,0,0,0
Veggie Salad Bowl,0,0,0,0,0,0,0,0,0,10,...,0,0,0,0,0,8,0,0,0,0
Veggie Soft Tacos,0,0,0,0,0,0,0,0,0,2,...,0,0,2,0,0,2,0,0,0,0

5. Join the employees and titles DataFrames together.

6. For each title, find the hire date of the employee that was hired most recently with that title.

7. Write the code necessary to create a cross tabulation of the number of titles by department. (Hint: this will involve a combination of SQL code to pull the necessary data and python/pandas code to perform the manipulations.)