2. cd into your exercises folder for this module and run echo env.py >> .gitignore

3. Create a function named get_db_url. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

4. Use your function to obtain a connection to the employees database.

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import text, create_engine

from env import get_connection

In [2]:
url = get_connection('employees')

In [3]:
engine = create_engine(url)

In [4]:
query = '''
        SELECT *
        FROM employees
        '''

In [5]:
text_query= text(query)

In [6]:
df = pd.read_sql(text_query, engine.connect())
df.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

5. Once you have successfully run a query: a. Intentionally make a typo in the database url. What kind of error message do you see?

In [5]:
engine = create_engine(url)

ArgumentError: Could not parse rfc1738 URL from string 'mysql+pymysql:/somerville_2276:rqmB31SmC7oijiVaFIO1blDaJNWuUNE2@data.codeup.com/employees'

 b. Intentionally make an error in your SQL query. What does the error message look like?

In [7]:
df = pd.read_sql(text_query, engine.connect())
df.head()

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'employees.emloyees' doesn't exist")
[SQL:
        SELECT *
        FROM emloyees
        ]
(Background on this error at: https://sqlalche.me/e/14/f405)

6. Read the employees and titles tables into two separate DataFrames.

In [7]:
query2 = '''
        SELECT * 
        FROM titles
        '''

In [8]:
text_query2 = text(query2)

In [9]:
df2 = pd.read_sql(text_query2, engine.connect())
df2.head()

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01
2   10003  Senior Engineer  1995-12-03  9999-01-01
3   10004         Engineer  1986-12-01  1995-12-01
4   10004  Senior Engineer  1995-12-01  9999-01-01

In [10]:
df = pd.read_sql(text_query, engine.connect())
df.head()

   emp_no  birth_date first_name last_name gender   hire_date
0   10001  1953-09-02     Georgi   Facello      M  1986-06-26
1   10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2   10003  1959-12-03      Parto   Bamford      M  1986-08-28
3   10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4   10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12

7. How many rows and columns do you have in each DataFrame? Is that what you expected?

In [17]:
df.shape, df2.shape

((300024, 6), (443308, 4))

8. Display the summary statistics for each DataFrame.

In [16]:
df.describe(), df2.describe()

(              emp_no
 count  300024.000000
 mean   253321.763392
 std    161828.235540
 min     10001.000000
 25%     85006.750000
 50%    249987.500000
 75%    424993.250000
 max    499999.000000,
               emp_no
 count  443308.000000
 mean   253075.034430
 std    161853.292613
 min     10001.000000
 25%     84855.750000
 50%    249847.500000
 75%    424891.250000
 max    499999.000000)

9. How many unique titles are in the titles DataFrame?

In [21]:
df2.title.unique()

array(['Senior Engineer', 'Staff', 'Engineer', 'Senior Staff',
       'Assistant Engineer', 'Technique Leader', 'Manager'], dtype=object)

10. What is the oldest date in the to_date column?

In [24]:
df2.to_date.min()

datetime.date(1985, 3, 1)

11. What is the most recent date in the to_date column?

In [28]:
df2.to_date.max()

datetime.date(9999, 1, 1)

Exercises II

1. Copy the users and roles DataFrames from the examples above.

In [29]:
users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

   id   name  role_id
0   1    bob      1.0
1   2    joe      2.0
2   3  sally      3.0
3   4   adam      3.0
4   5   jane      NaN
5   6   mike      NaN

In [30]:
roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

   id       name
0   1      admin
1   2     author
2   3   reviewer
3   4  commenter

2. What is the result of using a right join on the DataFrames?

In [32]:
users.merge(roles, how='right')

   id       name  role_id
0   1      admin      NaN
1   2     author      NaN
2   3   reviewer      NaN
3   4  commenter      NaN

3. What is the result of using an outer join on the DataFrames?

4. What happens if you drop the foreign keys from the DataFrames and try to merge them?

5. Load the mpg dataset from PyDataset.

6. Output and read the documentation for the mpg dataset.

7. How many rows and columns are in the dataset?

8. Check out your column names and perform any cleanup you may want on them.

9. Display the summary statistics for the dataset.

10. How many different manufacturers are there?

11. How many different models are there?

12. Create a column named mileage_difference like you did in the DataFrames exercises; this column should contain the difference between highway and city mileage for each car.

13. Create a column named average_mileage like you did in the DataFrames exercises; this is the mean of the city and highway mileage.

14. Create a new column on the mpg dataset named is_automatic that holds boolean values denoting whether the car has an automatic transmission.

15. Using the mpg dataset, find out which which manufacturer has the best miles per gallon on average?

16. Do automatic or manual cars have better miles per gallon?